html  
  font-size: $fz
  line-height: 1.5
  color: $c-text
  +reg
  +xxs
    font-size: 14px


body
  background-color: $white  
  min-width: 320px  
  +no-scroll

.out
  +lg
    padding-top: rem(100)

.grid
  &--adaptive-gap
    +lg
      --grid-gap: #{rem(20)}
    +md
      --grid-gap: #{rem(15)}
    +sm
      --grid-gap: #{rem(10)}
    +xs
      --grid-gap: #{rem(6)}

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.lazy
  $this: &
  &--loaded:not(#{$this}--no-fade-in)
    animation: fadeIn 1s

.logo
  display: inline-block
  font-size: 0

.two-btns
  display: flex
  +xxs
    display: block
    text-align: center
  &__btn
    +notlast
      margin-right: rem(12)
      +xxs
        margin-right: 0
        margin-bottom: rem(15)

.next, .prev
  display: inline-block
  width: rem(15)
  height: rem(15)
  position: relative  
  +before
    width: 100%
    height: 1px
    position: absolute
    top: 50%
    transform: translate(0, -50%)
    right: 0
    background-color: currentColor
  +after
    +icon-arrow(.6, .6, .07, currentColor, 225, em)
    position: absolute
    top: 50%
    right: 0
    transform: translate(0, -50%) rotate(225deg)

.prev
  transform: scaleX(-1)

.link
  position: relative
  color: $accent
  font-weight: 700
  display: inline-flex
  align-items: center
  &__arrow
    margin-left: .5em

.word
  font-size: em(120)
  font-weight: 700
  color: $c-title
  opacity: .1
  line-height: .8
  text-transform: uppercase

.close
  +icon-close(1.1em, 2px, currentColor)
  display: block
  +tr(color .3s)
  +hover
    color: $accent
    