.title
  display: block
  font-weight: 700
  text-transform: uppercase
  color: $c-title
  line-height: 1
  +font-title
  &--h1
    font-size: em(34)
  &--h2
    font-size: em(36)
  &--h3
    font-size: em(21)
  &--h5
    line-height: inherit
    font-size: em(16)
  &--reg
    +reg
  &--ttn
    text-transform: none

.title-img
  flex-wrap: wrap
  &__title
    display: inline
    vertical-align: middle
  &__img
    width: rem(60)
    display: inline-block
    vertical-align: middle
    margin-left: .3em
