---
title: about
page: about
hero: {
  bg: 'about.jpg',
  title: 'про нашу школу',
  text: 'Альтернативний Західний Колегіум – це навчально-виховний комплекс, якій вміщує 
в себе початкову школу, групу продовженого дня, лінгво-школу, дитячий садок, 
курс підготовки до школи, творчу майстерню, музичний клас та спортивні секції.',
  btns: [
    {
      title: 'Записати дитину'
    }
  ],
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { item: 'Про нашу школу', modItem: 'breadcrumbs__current-item' }
    ]
  }
}
sJoin: {
  mod: 'section--gray',
  img: 'IMG-bb5832e284365efcfb94f3d882b9c4a6-V.jpg',
  title: 'приєднуйтесь до нас!',
  text: '<p>У Колегіумі діти перебувають з 8:30 до 19.00 — вчаться, займаються творчістю, відпочивають, створюють проекти та спілкуються. Перерви, прогулянки та спортивні ігри допомагають досягати розумного балансу  у навчальному процесі.  А літом всіх чекає спортивно-оздоровчий літній табір.</p>
          <p>Наша мета — щоб наші вихованці росли здоровими, високоморальними, ерудованими, здатними досягти успіху в житті — незалежно від того, де вони будуть продовжувати освіту — в Україні або за кордоном.</p>',
  btn: {
    title: 'Записати дитину'
  },
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-gallery-about.html" %}
  
  {% set sImg = sJoin %}
  {% include "partials/sections/_s-img.html" %}

  {% include "partials/sections/_s-contacts.html" %}
{% endblock %}
