---
title: high-school
page: high-school
hero: {
  bg: 'high-school.jpg',
  topImg: 'copybook.svg',
  title: 'середня школа',
  text: 'Наша система навчання злагоджена, діти перебувають під наглядом 
повний робочий день (з 8.30 до 19.00)',
  btns: [
    {
      title: 'Записати дитину'
    }
  ],
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { item: 'середня школа', modItem: 'breadcrumbs__current-item' }
    ]
  }
}
sScedule: {
  title: 'наша середня школа виховує людину с великої букви',
  text: '<p>Тому наш дитячий садок АЗК, або як ми ще його називаємо «школа для дітей з 4 років» пропонує вам свою допомогу. Наша система навчання злагоджена, діти перебувають під наглядом повний робочий день (з 8.30 до 19.00), що дає зелене світло на повернення до роботи після декретної відпустки. Малечі у приватному закладі менше, а тому й більше можливості дати якісне навчання та виховання дитині, знайти до неї індивідуальний підхід, розвинути сильні сторони та розкрити таланти. </p>'
}
sWhy: {
  left: true,
  img: '4.jpg',
  title: 'Чому середня школа азк - саме те, що вам потрібно',
  text: '<p>Багато людей вважають, що реальне життя досить відрізняється від наших мрій та планів. Але чому? Підніматися по кар’єрним сходинкам не так вже й просто, коли ви молодий батько, що одночасно прагне кар’єрного зростання та несе на собі відповідальність за своїх маленьких дітей. Нас змалечку виховувала заклопотана матуся, що ледве встигала все робити, проте завжди багнула віддавати всю свою любов дітям та чоловікові, і разом з тим бути найкращою у своїй професійній діяльності. Вона ніколи не жалілася на втому та не казала, що їй чогось не вистачає. </p>
          <p>Для нас вона – найкраща, завжди усміхнена та чарівна. Такими хотіли стати і ми. Але чи реально все встигати та бути дійсно щасливою та вдоволеною супержінкою? Питання розподілу пріоритетів кар’єри та виховання дітей знайомі кожній мамі. Одного разу це стає реальністю і ми маємо обрати яким чином себе поводити у цій ситуації.  І відповідальність за вибір повноцінно лежить на нас.</p>
',
   btn: {
    title: 'Записати дитину'
  },
}
sTrust: {
   mod: 'section--gray',
    word: {
      title: 'trust',
      mod: 'section__word--bottom-right'
    },
    img: '5.jpg',
    title: 'як саме проходить навчання у нашій середній школі',
    text: '<p>Якщо ми, навіть, повноцінно присвятили себе дітям до 3 років, то після цього віку, окрім індивідуального спілкування та виховання дитини в родинному колі, їй необхідна соціалізація у дитячому колективі, та здобуття різноманітних навичок у різних сферах знань. Обрати найкращих вихователів, найцікавіші гуртки, організувати індивідуальний зручний графік, встигнути доїхати з пункту А до пункту Б не так вже й просто. </p>
              <p>Можна піти у дитячий садок, де все організовано і не треба перейматися безліччю питань. Проте наша турбота та перфекціонізм не дозволить віддати власне чадо у будь який найближчий садок. Державні заклади переповнені дітлахами, вчителі та вихователі не встигають приділити безцінну увагу всім. </p>
  ',
      btn: {
      title: 'Записати дитину'
    },
}
features: [
  {
    img: '10.png',
    title: 'професійні викладачі',
    text: 'По-перше, це педагогічний досвід та навички викладачів. Професійна 
педагогічна освіта для вчителів є обов’язковою, без неї не очікуйте 
високої ефективності запропонованого навчання. '
  },
  {
    img: '11.png',
    title: 'формування особистості',
    text: 'Поцікавтесь, наскільки приділяється увага виховним процесам. Безумовно, що комфортні 
гігієнічні умови, корисне харчування та навчання – є дуже важливими, але дитячий 
сад – це, перш за все, місце, де зростає особистість, де формуються її поведінкові моделі, 
характер, що в майбутньому буде мати безпосереднє відношення до всього життя. '
  },
  {
    img: '12.png',
    title: 'виховання',
    text: 'Поцікавтесь, яким чином вирішуються конфліктні ситуації між дітьми, яким чином 
вихованців привчають до самостійності, чи виховують дітей належним чином. 
Бо як би там не було, хоч і навчальні послуги називають «послугами», окрім 
придбаних знать дитина має зростати людиною з великої літери. '
  },
  {
    img: '13.png',
    title: 'додаткові заняття',
    text: 'Запитайте з приводу додаткових занять, що саме пропонує заклад крім програми мінімум 
підготовки до школи. Можливо, це малювання, хореографія, ліплення, чи театральне 
мистецтво. Це дозволить не ходити на додаткові гуртки та економити кошти. 
'
  },
  {
    img: '14.png',
    title: 'здоров’я дитини',
    text: 'Не буде зайвим, дізнатися, скільки часу діти проводять на свіжому повітрі, чи є режим 
провітрювання приміщення та пиття води, хоч і здається на перший погляд, що це 
дрібниці, але це не так. Таким чином, працювати та мати виховану та здорову дитину, 
не так вже й складно, якщо обрати правильне середовище та залишатися 
відповідальним дорослим. '
  },
  {
    img: '15.png',
    title: 'обирайте азк',
    text: 'Вибирайте АЗК для зростання вашої малечі. Приватний садок, якому можна довіряти – це 
дійсно дарунок для матусі. Вдень вона може не переживати за безпеку та догляд 
за дитиною, а ввечері якісно та весело проводити час із сім’єю. Ми чекаємо на вас!:)'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  
  {% set sImg = sWhy %}
  {% include "partials/sections/_s-img.html" %}

  {% set sImg = sTrust %}
  {% include "partials/sections/_s-img.html" %}

  {% include "partials/sections/_s-scedule.html" %}
  {% include "partials/sections/_s-features-school.html" %}
  {% include "partials/sections/_s-seo.html" %}
  {% include "partials/sections/_s-contacts.html" %}
{% endblock %}
