---
title: primary-school
page: primary-school
hero: {
  bg: 'primary-school.jpg',
  topImg: 'pen.svg',
  title: 'Початкова школа',
  text: 'Продовжується набір у 1, 2, 3 та 4 класи на 2019-2020 навчальний рік!
Початкова школа – це фундамент шкільної освіти дитини.',
  btns: [
    {
      title: 'Записати дитину',
      href: false,
      mod: 'js-popup-open',
      attributes: { 'data-popup-target': 'sign' }
    },
  ],
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { item: 'Початкова школа', modItem: 'breadcrumbs__current-item' }
    ]
  }
}
sScedule: {
  title: 'наша початкова школа – це унікальний формат навчання',
  text: '<p>Розробляючи структуру функціонування початкової школи ми не вигадували і не шукали секретного рецепту для успішного розвитку, ми пішли тим непростим, але правильним шляхом, що підказало серце, багаторічний професіональний досвід та моральні цінності. Кожний першачок, що приєднується до нас, стає частиною родини.</p>
        <p>І це не дивно, адже щодня ми разом спілкуємося, пізнаємо світ знань, граємо, святкуємо. В школі класи сформовані по 6-8 учнів, аби вчитель міг приділити кожному увагу, знайти індивідуальний підхід та розробити унікальну програму навчання.</p>
  '
}
sWhatPrimary: {
  left: true,
  img: '1.jpg',
  title: 'Початкова школа – це фундамент шкільної освіти дитини.',
  text: '<p>Розуміючи це, відповідальні батьки прагнуть знайти найкращу школу, аби мати можливість вибудувати цю основу навчання. Але як обрати найкращу школу? І що є запорукою успішного навчання та комфортного зростання саме для вашої дитини? В нас є відповідь. Альтернативна приватна школа АЗК запрошує приєднатися до нашої дружної сім’ї, до школи з інноваційним підходом до навчально-виховного процесу. Кожен тут знайде себе! Якщо ви шукаєте особливий підхід до вашої дитини, можливо, вам потрібне інклюзивне навчання, в нас це також передбачено. </p>
          <p>Для членів команди АЗК важливим є інтелектуальний, духовно-культурний та фізичний розвиток кожної дитини, тому ми пропонуємо дітям: цікаві та різноманітні заняття, нестандартні уроки, творчі гуртки, прогулянки на свіжому повітрі, виховні бесіди, розважально-пізнавальні заходи та екскурсії, тематичні свята. Ми націлені на результат, тому маємо високі показники на атестаціях та шкільних олімпіадах. </p>
',
   btn: {
    title: 'Записати дитину'
  },
}
sTrustPrimary: {
   mod: 'section--gray',
    word: {
      title: 'trust',
      mod: 'section__word--bottom-right'
    },
    img: '8.jpg',
    title: 'чому вам варто довіряти школі альтернативного навчання АЗК?',
    text: '<p>Щоб мати постійну динаміку необхідно приділяти велику увагу вибору педагогічного складу, і ми це розуміємо, тому кожний з наших викладачів не просто найманий працівник, а людина, якій не байдуже майбутнє молодого покоління. Ми не просто навчаємо, ми проживаємо разом з дитиною кожен її день, її труднощі та успіхи, й вкладаємо все своє серце в кожного учня. </p>
              <p>Ми знаємо, що ви довіряєте нам найцінніше – своїх дітей, тому ми робимо все, аби ви були спокійні за них та задоволені результатом нашої співпраці. </p>
  ',
      btn: {
      title: 'Записати дитину'
    },
}
features: [
  {
    img: '20.png',
    title: 'не прив’язані до приміщення',
    text: 'Інтегровані уроки та позакласні заходи – це головні форми навчання в початковій 
школі. Діти можуть навчатися та пізнавати нове не лише в класі за партою, 
а й на прогулянці, екскурсіях, тому ми не прив’язані лише до приміщення школи.'
  },
  {
    img: '21.png',
    title: 'Українська мова',
    text: 'Навчання проходить державною українською мовою. З перших класів ми 
приділяємо велику увагу рідній мові, аби діти не лише добре володіли нею, 
а й поважали та шанували свою державу.'
  },
  {
    img: '22.png',
    title: 'логічне мислення',
    text: 'Розвиток логічного мислення на уроках математики в початковій школі 
здійснюється за допомогою використання різноманітних ігор, 
практичних та творчих завдань.'
  },
  {
    img: '5.png',
    title: 'Вивчення англійської',
    text: 'Вивчення англійської мови кожного дня проводиться за програмою
«Сambridge academy school».'
  },
  {
    img: '24.png',
    title: 'Різноманітна програма навчання',
    text: 'Крім обов’язкових предметів в розкладі дітей є додаткові творчі заняття, такі як художня 
студія, ліплення, шахи, музика, театральна студія. Всі уроки чергуються 
з фізкультхвилинками, прогулянками на вулиці, спортивними іграми. '
  },
  {
    img: '25.png',
    title: 'створюємо зацікавленість',
    text: 'Заняття орієнтовані, в першу чергу, на дітей, їх учбовий прогрес, швидку соціальну 
адаптацію, зацікавленість, прагнення до самоосвіти, оволодіння новими навичками, 
зростання повноцінної особистості.'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  
  {% set sImg = sWhatPrimary %}
  {% include "partials/sections/_s-img.html" %}

  {% set sImg = sTrustPrimary %}
  {% include "partials/sections/_s-img.html" %}

  {% include "partials/sections/_s-scedule.html" %}
  {% include "partials/sections/_s-features-school.html" %}
  {% include "partials/sections/_s-seo.html" %}
  {% include "partials/sections/_s-contacts.html" %}
{% endblock %}
