---
title: teachers
page: teachers
hero: {
  bg: 'teachers.jpg',
  title: 'Наші вчителі',
  text: 'Наші педагоги - це не просто працівники, а другі батьки для ваших
дітей, які прагнуть зробити їх дитинство щасливим і незабутнім',
  btns: [
    {
      title: 'Записати дитину'
    }
  ],
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { item: 'Наші вчителі', modItem: 'breadcrumbs__current-item' }
    ]
  }
}
sScedule: {
  title: 'чому влітку ви можете бути спокійним за свою дитину',
  text: '<p>Денний літній табір при Альтернативному Західному Колегіумі — це сучасний, патріотичний і розважальний відпочинок, спрямований на культурний, спортивний та інтелектуальний розвиток кожної дитини.  </p>
        <p>Програма відпочинку зосереджена на формуванні і розвитку творчих, комунікативних, спортивних та інтелектуальних здібностей дітей. Це і пізнавальні виїзні заходи, ігрові програми, спортивні змагання, а також заняття з викладачем французької мови. </p>
        <p>На Вас чекає дружна команда педагогів, з якою у Вас буде можливість зануритися в дивовижне пізнання історії України, Києва, а також Запорізького козацтва. </p>
  '
}

---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}

  {% include "partials/sections/_s-teachers.html" %}
  {% include "partials/sections/_s-contacts.html" %}
{% endblock %}
