<div class="grid">
  {% for i in features %}
  <div class="col col--xs-6">
    <!-- begin feature -->
    <div class="feature">
      <div class="feature__icon">
        <img class="js-lazy" alt="" src="" data-src="./img/features/{{ i.img }}"/>
      </div>

      <div class="feature__content">
        <h3 class="feature__title title title--h3">{{ i.title | safe }}</h3>

        <div class="feature__text">{{ i.text | safe }}</div>
      </div>
    </div>
    <!-- end feature -->
  </div>
  {% endfor %}
</div>