<!-- begin hero -->
<section class="hero">
  <div class="hero__wave"></div>

  <div class="hero__bg js-lazy" data-background-image="./img/hero/{{ hero.bg }}"></div>

  <div class="container">
    {% if hero.breadcrumbs %}
      {{ mixins.list(
        name = 'breadcrumbs',
        modifications = { list: 'hero__breadcrumbs breadcrumbs', item: '', link: '' },
        list = hero.breadcrumbs.list
      ) }}
    {% endif %}

    <div class="hero__inner">
      <div class="grid grid--align-items-center">
        <div class="col col--7">
          {% if hero.topImg %}
          <img class="hero__content-top-img js-lazy" alt="" src="" data-src="./img/{{ hero.topImg }}"/>
          {% endif %}

          {% if hero.upttl %}
          <div class="hero__upttl">{{ hero.upttl | safe }}</div>
          {% endif %}

          {% if hero.title %}
          {#   {% if hero.h2 %}
            <h2 class="hero__title title title--h1">{{ hero.title.title | safe }}</h2>
            {% else %}
            <h1 class="hero__title title title--h1">{{ hero.title.title | safe }}</h1>
            {% endif %} #}

            <h1 class="hero__title title title--h1">{{ hero.title | safe }}</h1>
          {% endif %}

          {% if hero.text %}
          <div class="hero__text">{{ hero.text | safe }}</div>
          {% endif %}

          {% if hero.btns %}
          <div class="hero__btns two-btns">
            {% for i in hero.btns %}
            <div class="two-btns__btn">
              {{ mixins.btn(
                title = i.title,
                mod = i.mod
              ) }}
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        {% if hero.rightImage %}
        <div class="col col--5">
          <img class="hero__right-img js-lazy" alt="" src="" data-src="./img/hero/{{ hero.rightImage }}"/>
        </div>
        {% endif %}

        {% if hero.contacts %}
        <div class="col col--5">
          <div class="hero__contacts contacts">
            <div class="contacts__item contact-item">
              <div class="contact-item__icon">
                {{ mixins.icon('pin') }}
              </div>

              <div class="contact-item__text">м. Київ, Оболонський район,
              вул. Героїв Сталінграду, 14-г</div>
            </div>

            <div class="contacts__item contact-item">
              <div class="contact-item__icon">
                {{ mixins.icon('telephone') }}
              </div>

              <div class="contact-item__text">
                <a href="tel:0637102270">063 710 22 70</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="hero__img-bottom js-lazy" data-background-image="./img/hero/grass.png"></div>
</section>
<!-- end hero -->