<!-- begin article -->
<div class="article scrollbar js-scrollbar">
  <h2>Що таке школа альтернативного навчання АЗК? (H2)</h2>

  <p>Кожен з батьків бажає найкращого для своєї дитини, шукає <strong>різноманітні</strong> <a href="#">можливості</a> для винайдення щасливого майбутнього для свого чада. Проте серед безлічі <em>напрямків навчання</em> орієнтуватися досить складно. Сучасну освітню систему в Україні наразі можна поділити лише на дві основні та беззаперечні ланки, такі як:</p>

  <ul>
      <li>Це класичний підхід (дитина відвідує загальноосвітню школу, робить домашнє завдання, відвідує гуртки) </li>
      <li>Та альтернативний (передбачає кілька способів отримання знань: навчання вдома, чи в альтернативній школі, і ще один з більш вільних варіантів – це дистанційна освіта у поєднанні з різними гуртками, проте тут орієнтується за своїми бажаннями сама дитина, а не батьки). </li>
  </ul>

  <h3>Що ж таке школа альтернативного навчання АЗК? (H3)</h3>

  <ol>
    <li>Ми відійшли від загальноосвітньої системи класичного навчання, </li>
    <li>Переосмислили сутність навчання, </li>
    <li>поглянули на процеси з іншого боку та винайшли оптимальний процес для </li>
  </ol>


</div>
<!-- end article -->