<!-- begin section -->
<section class="section">
  {{ mixins.parallax('p-img--left-20 p-img--top-10 section__p-img-triangles', '03.svg') }}

  <div class="container">
    <div class="section__block section__block--lg grid grid--align-items-center">
      <div class="col col--sm-6">
        {{ mixins.image('3.jpg') }}
      </div>

      <div class="col col--sm-6">
        <!-- begin article -->
        <div class="article">
          <p>Виховання дітей дуже важливий і не простий процес. Кожен день батьки стикаються з розмаїттям нових незвичайних ситуацій. Ви вкладаєте всю свою душу і серце, щоб виховати особистість. З самого народження діти потребують максимум вашої уваги та турботи, було б помилково вважати, що з часом ці потреби зменшуються, а й потім зовсім сходять нанівець. Поки батьки живі, діти залишаються їх дітьми, змінюються лише потреби.  Ваші дорослі самостійні діти також потребують вашої участі у їхньому житті, проте тепер вона обмежена лише підтримкою та порадами на словах.</p>

          <blockquote>Всі вікові етапи дорослішання дітей та ваші відносини супроводжуються конфліктними ситуаціями. Це нормально, адже конфлікт – це зіткнення протилежних поглядів на ситуацію. І якщо в дитинстві це якість незначні розбіжності, найчастіше пов’язані з бажанням проявити свою самостійність, то чим далі, конфлікти набувають більш серйозного характеру.  Нажаль досить часто вони супроводжуються сварками. Ось це вже аж ніяк не норма. </blockquote>
        </div>
        <!-- end article -->
      </div>
    </div>

    <div class="grid ">
      <div class="col col--sm-6">
        <blockquote class="blockquote blockquote--plain">
          Всі вікові етапи дорослішання дітей та ваші відносини супроводжуються конфліктними ситуаціями. Це нормально, адже конфлікт – це зіткнення протилежних поглядів на ситуацію. І якщо в дитинстві це якість незначні розбіжності, найчастіше пов’язані з бажанням проявити свою самостійність, то чим далі, конфлікти набувають більш серйозного характеру.  Нажаль досить часто вони супроводжуються сварками. Ось це вже аж ніяк не норма. Тому треба вирішувати питання негайно! 
        </blockquote>
      </div>

      <div class="col col--sm-6">
        <blockquote class="blockquote blockquote--plain">
          Чи реально справитися без сварок? Так, проте слід прикладати зусилля, а головне бажання вислухати один одного, поглянути на ситуацію з іншого боку, як важко б це не було. Що нам заважає це робити? Головний наш ворог – це наші негативні емоції, гнів, що наче б то затуманює здоровий глузд, відбирає усяке бажання слухати дитину, а хочеться лише кричати, та обвинувачувати один одного. Це не є здоровою поведінкою 
        </blockquote>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- begin section -->
<section class="section section--gray">
  {{ mixins.parallax('p-img--left-50 p-img--top-5', '02.svg') }}


  <div class="container">
    <div class="grid">
      <div class="col col--sm-6">
        <!-- begin article -->
        <div class="article">
          <h2>Хочемо надати декілька порад, які можуть зберегти ваші відносини:</h2>

          <ul>
            <li>Намагайтеся завжди вирішувати усі суперечки тоді коли ваші емоції вщухнуть, просто візьміть паузу, якою б складною та дратівливою не була ситуація.</li>
            <li>Коротко сформулюйте те, що хочете сказати дитині, не використовуючи при цьому принижуючі та образливі слова.</li>
            <li>Звичайно скажіть, що ви відчуваєте з цього приводу (я хвилююся, я засмучена, я боюсь).</li>
            <li>Скажіть про ті наслідки, які ви бачите при розвитку даної ситуації.</li>
            <li>Ніколи не порівнюйте вашу дитину з іншою, кажучи, що він не достатньо гарний, слухняний, як хтось інший. Це лише додасть комплексів, заниженої самооцінки вашій дитині.</li>
            <li>Не слід доводити до образ, вирішуйте ситуацію одразу. </li>
          </ul>

          <h5>Який висновок?</h5>

          <p>Не дозволяйте гніву псувати ваше життя та ваші стосунки з дітьми. Не має таких ситуацій, які неможливо вирішити. Ніщо матеріальне, не може бути важливішим за вашу дитину, подумайте про це в конфліктній ситуації. Бажаємо вам мудрості, терпіння, а головне любові, що перемагає всі невзгоди.</p>
        </div>
        <!-- end article -->
      </div>

      <div class="col col--sm-6">
        {{ mixins.image('48.jpg') }}
      </div>
    </div>
  </div>
</section>
<!-- end section -->