<!-- begin section -->
<section class="section s-features">
  {{ mixins.parallax('p-img--left-1 p-img--top-10', '05.png') }}
  {{ mixins.parallax('p-img--right-5 p-img--top-15', '06.png') }}
  {{ mixins.parallax('p-img--right-5 p-img--bottom-30', '07.svg') }}
  {{ mixins.parallax('p-img--left-3 p-img--bottom-15', 'dots.svg', '70') }}

  <div class="container">

    <h2 class="section__title title title--h1 section__title--side">На які моменти треба звернути
    увагу при виборі середньої школи</h2>

    <div class="section__subttl section__subttl--side">Отже, окрім того, щоб забити в пошукову стрічку Google слова «приватний дитячий садок Київ», «дитячий садок Київ Оболонь», чи «приватний садочок Київ», зверніть увагу на наступні важливі моменти. АЗК готовий з вами ділитися цією інформацією, бо ми відповідаємо всім цим критеріям.</div>
    

    {% include "partials/_features.html" %}
  </div>
</section>
<!-- end section -->