{%set
features = [
  {
    img: '10.png',
    title: 'професійні викладачі',
    text: 'По-перше, це педагогічний досвід та навички викладачів. Професійна 
педагогічна освіта для вчителів є обов’язковою, без неї не очікуйте 
високої ефективності запропонованого навчання. '
  },
  {
    img: '11.png',
    title: 'формування особистості',
    text: 'Поцікавтесь, наскільки приділяється увага виховним процесам. Безумовно, що комфортні 
гігієнічні умови, корисне харчування та навчання – є дуже важливими, але дитячий 
сад – це, перш за все, місце, де зростає особистість, де формуються її поведінкові моделі, 
характер, що в майбутньому буде мати безпосереднє відношення до всього життя. '
  },
  {
    img: '12.png',
    title: 'виховання',
    text: 'Поцікавтесь, яким чином вирішуються конфліктні ситуації між дітьми, яким чином 
вихованців привчають до самостійності, чи виховують дітей належним чином. 
Бо як би там не було, хоч і навчальні послуги називають «послугами», окрім 
придбаних знать дитина має зростати людиною з великої літери. '
  },
  {
    img: '13.png',
    title: 'додаткові заняття',
    text: 'Запитайте з приводу додаткових занять, що саме пропонує заклад крім програми мінімум 
підготовки до школи. Можливо, це малювання, хореографія, ліплення, чи театральне 
мистецтво. Це дозволить не ходити на додаткові гуртки та економити кошти. 
'
  },
  {
    img: '14.png',
    title: 'здоров’я дитини',
    text: 'Не буде зайвим, дізнатися, скільки часу діти проводять на свіжому повітрі, чи є режим 
провітрювання приміщення та пиття води, хоч і здається на перший погляд, що це 
дрібниці, але це не так. Таким чином, працювати та мати виховану та здорову дитину, 
не так вже й складно, якщо обрати правильне середовище та залишатися 
відповідальним дорослим. '
  },
  {
    img: '15.png',
    title: 'обирайте азк',
    text: 'Вибирайте АЗК для зростання вашої малечі. Приватний садок, якому можна довіряти – це 
дійсно дарунок для матусі. Вдень вона може не переживати за безпеку та догляд 
за дитиною, а ввечері якісно та весело проводити час із сім’єю. Ми чекаємо на вас!:)'
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">

    <h2 class="section__title title title--h1 section__title--side">На які моменти треба звернути
    увагу при виборі середньої школи</h2>

    <div class="section__subttl section__subttl--side">Отже, окрім того, щоб забити в пошукову стрічку Google слова «приватний дитячий садок Київ», «дитячий садок Київ Оболонь», чи «приватний садочок Київ», зверніть увагу на наступні важливі моменти. АЗК готовий з вами ділитися цією інформацією, бо ми відповідаємо всім цим критеріям.</div>
    

    {% include "partials/_features.html" %}
  </div>
</section>
<!-- end section -->