{%set
cards = [
  {
    img: 'cards/IMG-55e87dd0a07fdd78cbfae384455b7cb2-V.jpg',
    title: 'Початкова школа',
    text: 'Продовжується набір у 1, 2, 3 та 4 класи на 2019-2020 навчальний рік! Приєднуйтеся до нас!'
  },
  {
    img: 'cards/10-(1).jpg',
    title: 'Середня школа',
    text: 'Продовжується набір у 1, 2, 3 та 4 класи на 2019-2020 
навчальний рік! Приєднуйтеся до нас!'
  },
  {
    img: 'cards/IMG-d5c93526af91567af551c1c75a36dc5a-V.jpg',
    title: 'Дитячий садок',
    text: 'Приватний садо
к, якому можна довіряти – це дійсно дарунок 
для матусі. '
  },
  {
    img: 'cards/36.jpg',
    title: 'Літній табір',
    text: 'Пізнавальні виїзн
і заходи, ігрові програми, спортивні змагання, французьська мова.'
  }
]
%}

{%set
features = [
  {
    img: '1.png',
    title: 'Ефективне навчання',
    text: 'Класи до 8 учнів передбачають високу ефективність навчання, так як вчитель 
націлений на високі результати та індивідуальний метод роботи з кожним учнем. 
Ми розкриваємо потенціал дітей, розширюємо їх світосприйняття, розвиваємо 
таланти та вміння.'
  },
  {
    img: '8.png',
    title: 'Окремий чат для батьків',
    text: 'Завдяки налаштованій комунікації наші батьки завжди знають про успіхи своїх 
дітей,їх поведінку, психологічний та фізичний стан. З кожною сім’єю у нас є 
окремий чат, до якого входить склад педагогів, батьки бачать та читають 
інформацію, яка стосується лише їх дитини, без зайвих повідомлень та спаму.'
  },
  {
    img: '22000.png',
    title: 'зручне розташування',
    text: 'Зручне розташування школи (Оболонська набережна) відкриває безліч 
варіантів активності під час прогулянок (спортивні майданчики, стадіони, 
прогулянки біля річки, тренажерні зони, парк «Наталка», походи). 
Учні люблять грати у футбол, волейбол, вибивного, та й просто добряче 
побігати, розважитись перед тим як далі продовжувати навчання. '
  },
  {
    img: '2.png',
    title: 'Соціалізація',
    text: 'Учні з різних класів не відокремлені один від одного, як це відбувається в державних 
школах, різновікові групи постійно спілкуються та контактують. Таким чином процес 
соціалізації проходить набагато швидше. У старших дітей є прекрасна можливість відчути 
себе в ролі наставника і старшого брата або сестри для менших, молодші, в свою чергу, 
можуть відчути, як це мати старших братів/сестер, брати з них приклад.'
  },
  {
    img: '11111.png',
    title: 'Проектна діяльнiсть',
    text: 'Крім тематичних зрізів знань наші діти займаються проектною діяльністю, теми 
проектів учні обирають самостійно, вчитель лише допомагає, самі шукають, 
обробляють інформацію, а після представляють виконану роботу у довільній формі 
(презентація, плакат, малюнок, настільна гра та інше). '
  },
  {
    img: '7.png',
    title: 'Домашні завдання - наша турбота',
    text: 'Усі домашні завдання ми виконуємо разом в школі, тому ввечері сім’єю ви можете 
відпочивати та просто спілкуватися зі своїми дітьми. Тепер ваша голова не буде боліти, 
не буде й безсонних ночей, зайвих криків та контролю при виконанні домашньої роботи. 
Цей тягар ми зняли з плечей батьків.'
  },
  {
    img: '6.png',
    title: 'Сбалансоване харчування',
    text: 'Ми слідкуємо за якісним та регулярним харчуванням, прийом їжі 4 рази на день. 
І це також важлива ланка для здорового зростання, так як діти ростуть і організму 
постійно потрібні вітаміни та мікроелементи, аби будувати нові клітини, надавати 
необхідні сили та енергію на весь день.'
  },
  {
    img: '5.png',
    title: 'Вивчення англійської',
    text: 'Важливою складовою є поглиблене вивчення англійської мови за програмою 
«Сambridge academy school», що дає можливість тестування та отримання сертифікату 
міжнародного зразка. Також програма розрахована на відвідування різноманітних 
екскурсій навчального та розважального спрямування. '
  },
  {
    img: '3.png',
    title: 'Різноманітна програма навчання',
    text: 'Окрім державної програми, якої мають притримуватися усі навчальні заклади 
ми ввели в розклад такі додаткові заняття, як логіка, художня та театральна 
студія, шаховий клуб, історія мистецтв, ліплення, еко-виховання. '
  },
  {
    img: '4.png',
    title: 'Уроки на свіжому повітрі',
    text: 'Уроки проходять у різних локаціях, це не лише 
простір школи, а й уроки на свіжому повітрі. '
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">

    {{ mixins.title(
      title = 'Що пропонує АЗК?',
      img = 'paint.svg'
    ) }}
    

    <div class="section__subttl">Наша альтернативна школа – це школа повного дня, ми зустрічаємося з дітьми близько 8.30 ранку та кажемо: «До завтра» о 19.00. Оскільки у нашому розпорядженні цілий день, ми встигаємо не лише навчатися, а й відпочивати, гратися, проводити творчі заняття. </div>
    
    <div class="section__block section__block--lg">
      <div class="grid">
        {% for i in cards %}
        <div class="col col--3">
          {{ mixins.card(
              title = i.title,
              img = i.img,
              text = i.text,
              button = { title: 'Записати дитину' }
          ) }}
        </div>
        {% endfor %}      
      </div>
    </div>

    {% include "partials/_features.html" %}
  </div>
</section>
<!-- end section -->