{%set
gallery = {
  slider: [
    { img: 'DSC_4955.jpg', thumb: 'IMG-72e73ffa9b4848f5e193bf102e220272-V.jpg' },
    { img: 'DSC_4955.jpg', thumb: 'IMG-72e73ffa9b4848f5e193bf102e220272-V.jpg' },
    { img: 'DSC_4955.jpg', thumb: 'IMG-72e73ffa9b4848f5e193bf102e220272-V.jpg' },
    { img: 'DSC_4955.jpg', thumb: 'IMG-72e73ffa9b4848f5e193bf102e220272-V.jpg' },
    { img: 'DSC_4955.jpg', thumb: 'IMG-72e73ffa9b4848f5e193bf102e220272-V.jpg' }
  ]
}
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="grid grid--align-items-center">
      <div class="col col--sm-6">

        <h2 class="section__title title title--h1 text-left">Чому потрібно обрати саме нашу школу</h2>

        <div class="article">

          <p>Колегіум заснувала команда педагогів, які вже десять років працюють в сфері виховання та навчання дітей. Нас об’єднує спільне бажання створити навчальний заклад, який і учні і вчителі відвідуватимуть з радістю, в якому панує атмосфера доброзичливості, любові та поваги. </p>

          <p>Ми прагнемо зробити роки навчання дітей щасливими, корисними та результативними. Наша команда працює над тим, щоб створити інтелектуальний, духовний та культурний простір для всебічного розвитку дітей, простір, в якому діти зможуть розкрити свій потенціал, творчі можливості, а головне вивільнити найкращі якості своєї особистості. Велику увагу ми приділяємо вихованню в наших дітках високих моральних якостей, таких як: любов, дружелюбність, повага, милосердя, співчуття, прощення, пошана батьків, сімейність та ін.</p>

          {{ mixins.btn(
            title = 'Записати дитину',
            mod = ''
          ) }}
        </div>
      </div>

      <div class="col col--sm-6">
        {% include "partials/_gallery.html" %}
      </div>
    </div>
  </div>
</section>
<!-- end section -->