
<!-- begin section -->
<section class="section">
  <div class="container">

    {% if not sNews.short %}
      {{ mixins.title(
        title = 'Слідкуйте за нашим блогом',
        img = 'ruller.svg'
      ) }}

      <div class="section__subttl">Наша альтернативна школа – це школа повного дня, ми зустрічаємося з дітьми близько 8.30 ранку та кажемо: «До завтра» о 19.00. Оскільки у нашому розпорядженні цілий день, ми встигаємо не лише навчатися, а й відпочивати, гратися, проводити творчі заняття. </div>

      {% else %}

      <h2 class="section__title title title--h1">не пропустіть також</h2>
    {% endif %}

    <div class="grid">
      {% for i in range(0, 3) %}
      <div class="col col--4">
        {{ mixins.card(
          mod = 'card--left card--long',
          titleSm = 'Працьовита дитина — міф чи реальність в наш час?',
          img = 'cards/P80911-161019.jpg',
          text = 'Працьовитість — це та якість, що допоможе вашій дитині втілювати безліч ідей в реальність, отримувати задоволення від роботи, а не тільки чекати вихідних, жити самостійно, і не шукати чиєїсь матеріальної підтримки... ',
          link = true
        ) }}
      </div>
      {% endfor %}      
    </div>
  </div>
</section>
<!-- end section -->