<!-- begin section -->
<section class="section">
  {{ mixins.parallax('p-img--right-7 p-img--top-10', '14.png') }}

  <div class="container">
    <div class="grid grid--align-items-center">
      <div class="col col--sm-6">
        {% if sScedule.title %}
        <h2 class="section__title title title--h1 text-left">{{ sScedule.title | safe }}</h2>
        {% endif %}

        {% if sScedule.text %}
        <!-- begin article -->
        <div class="article">
          {{ sScedule.text | safe }}

          {{ mixins.btn(
            title = 'Записати дитину',
            mod = ''
          ) }}
        </div>
        <!-- end article -->
        {% endif %}
      </div>

      <div class="col col--sm-6">
        <blockquote class="blockquote">
          {{ mixins.list(
            name = 'scedule',
            modifications = { dt: 'scedule__title', dd: 'scedule__text' },
            descr = true,
            list = [
              { dt: 'Режим роботи:', dd: 'з 8:30 до 13:00 – скорочений день, з 8:30 до 19:00 – повний день.' },
              { dt: 'Вартість навчання', dd: '(без урахування харчування) — 6200 грн (скорочений день), 7000 грн (повний день).' },
              { dt: 'Додаткова інформація за телефоном:', dd: '+380 63 710 2270 , Олена Володимирівна' }
            ]
          ) }}
        </blockquote>
      </div>
    </div>
  </div>
</section>
<!-- end section -->