<!-- begin section -->
<section class="section section--gray s-about">
  {{ mixins.parallax('p-img--left-20 p-img--top-10', '11.svg') }}
  {{ mixins.parallax('p-img--right-5 p-img--bottom-20 hidden-xxl', 'dots.svg', '115') }}

  <div class="section__word section__word--bottom-left word">about</div>

  <div class="container">
    <div class="grid grid--align-items-center">
      <div class="col col--sm-6 col--order-1 col--order-sm-0">

        {{ mixins.image('2.jpg') }}
      </div>

      <div class="col col--sm-6 col--order-0 col--order-sm-1">
        {% include "partials/_seo-text.html" %}
      </div>
    </div>
  </div>
</section>
<!-- end section -->