{%set
teachers = [
  {
    img: '01.jpg',
    title: 'Мадюдя Оксана Вікторівна',
    subttl: 'Директор мережі Центрів розвитку дитини «АЗК».',
    text: '
      <p>Дипломований менеджер-управлінець з досвідом керівництва більше двадцяти років.</p>
      <p>Ідейний натхненник, автор унікальних концепцій і методик індивідуального розвитку людини. Коуч, тренер з особистісного зростання. Магістр психології, практикуючий сімейний психолог.</p>
      <p>Активно займається науковою діяльністю, веде дослідження в сфері управління персоналом, аспірант УМО НАПНУ.</p>
    '
  },
  {
    img: '02.jpg',
    title: 'Литвиненко Олена Володимирівна',
    subttl: 'Адміністратор Центру розвитку дитини «АЗК» на Оболоні.',
    text: '
        <p>Талановитий комунікатор, позитивний та чуйний керівник «АЗК», вчитель, який безмежно любить дітей.</p>
        <p>Філолог, вчитель української мови та літератури, викладач французької мови. Аспірант УМО НАПНУ, її тема — це креативний підхід в управлінні навчальним закладом.</p>
    '
  },
  {
    img: '03.jpg',
    title: 'Філіппова Ліна Леонідівна',
    subttl: 'Вчитель математики та інформатики 
в Центрі розвитку дитини «АЗК» 
на Оболоні.',
    text: '
      <p>Педагог з десятирічним стажем. Для неї немає складних та важковиховуваних дітей, всі діти талановиті та здібні, питання лише в тому наскільки сильно в кожного з них вірить учитель.</p>
      <p>Магістр педагогіки, аспірант УМО НАПНУ з освітньої темою дисертації.</p>
    '
  },
  {
    img: '02.jpg',
    title: 'Литвиненко Олена Володимирівна',
    subttl: 'Адміністратор Центру розвитку дитини «АЗК» на Оболоні.',
    text: '
        <p>Талановитий комунікатор, позитивний та чуйний керівник «АЗК», вчитель, який безмежно любить дітей.</p>
        <p>Філолог, вчитель української мови та літератури, викладач французької мови. Аспірант УМО НАПНУ, її тема — це креативний підхід в управлінні навчальним закладом.</p>
    '
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <h2 class="section__titlte title title--h1">познайомтеся з нашими вчителями</h2>
    <div class="section__subttl">Ми – команда викладачів-аспірантів з педагогічною освітою та професійним стажем, що бажає змінити наш світ на краще, що вірить в молоде покоління, що воно дійсно наше майбутнє, а майбутнє слід робити вже сьогодні</div>

    <div class="grid">
      {% for i in teachers %}
        <div class="col col--md-6">
          <!-- begin teacher -->
          <div class="teacher">
            <div class="teacher__left">
              <div class="teacher__img js-lazy" data-background-image="./img/teachers/{{ i.img }}"></div>

              <h5 class="teacher__title title title--h5 title--semi title--ttn">{{ i.title | safe }}</h5>
              <div class="teacher__subttl">{{ i.subttl | safe }}</div>
            </div>

            <div class="teacher__right">
              <div class="teacher__text article">{{ i.text | safe }}</div>
            </div>
          </div>
          <!-- end teacher -->
        </div>
      {% endfor %}      
    </div>
  </div>
</section>
<!-- end section -->