<!-- begin section -->
<section class="section section--gray">
  <div class="section__word section__word--bottom-right word">school</div>

  <div class="container">
    <div class="grid grid--align-itms-center">
      <div class="col col--6">
        {# {{ mixins.image('1.jpg') }} #}
        <img class="js-lazy" alt="" src="" data-src="./img/section-imgs/15.png"/>
      </div>

      <div class="col col--6">
        {{ mixins.title(
          title = 'Що таке школа альтернативного навчання АЗК?',
          img = 'globe.svg',
          mod = 'text-left'
        ) }}

        <div class="article">
          <p>Ми відійшли від загальноосвітньої системи класичного навчання, так як переосмислили сутність навчання, поглянули на процеси з іншого боку та винайшли оптимальний процес для цілісного розвитку особистості дитини в сучасному суспільстві. </p>

          <p>Наша система освіти – це не просто освітні послуги, а й всебічний розвиток школярів. Наша філософія – це освічена, вихована дитина з високими моральними цінностями, вона наділена широким спектром  таких необхідних у наш час якостей характеру, як умінням цінувати і поважати не тільки себе, але й навколишній світ, людей, любов до ближнього, вміння шанувати батьків, доброта, співчуття, вміння нести відповідальність за свої вчинки 
і слова та багато інших. </p>

          {{ mixins.btn(
            title = 'Більше про заклад',
            mod = ''
          ) }}
        </div>        
      </div>
    </div>
  </div>
</section>
<!-- end section -->