.contact
  position: relative
  padding-left: rem(30)
  &__icon
    fill: $accent
    position: absolute
    top: .25em
    left: 0

  &--accent
    color: $accent
    text-decoration: underline
  &--lg
    font-size: em(21)
