.hero
  $this: &
  position: relative
  .col
    position: relative
  &__breadcrumbs
    padding-top: rem(25)
    position: relative
    z-index: 5
  &__wave
    position: absolute
    z-index: 1
    top: 0
    bottom: 0
    left: 0
    width: percentage(1035 / 1920)
    +image('hero/wave-desc.png')
    background-repeat: no-repeat
    background-position: 100% 50%
    background-size: rem(150) 105%
    +before
      position: absolute
      bottom: 0
      left: 0
      top: 0
      width: calc(100% - #{rem(145)})
      background-color: #f6f9fa
    +xl
      width: 57%
    +md
      +image('hero/wave.png')      
      background-position: 50% 100%
      background-size: 105% rem(150)
      width: 100%
      height: calc(100% - #{rem(250)})
      +before
        position: absolute
        left: 0
        right: 0
        bottom: auto
        width: auto
        height: calc(100% - #{rem(145)})
        

  &__right-img
    +md
      position: absolute
      left: 0
      top: rem(30)
      width: percentage(320 / 480)
    +xxs
      top: rem(50)
    +r(375)
      top: rem(100)
    &.lazy--loaded
      // display: block
      margin-left: -15%
      +xl
        margin-left: 0

  &__bg
    +coverdiv
    +cover
    background-position: 100% 50%
    background-color: $c-text
    z-index: 0
    left: 40%
    +md
      left: 0
      top: calc(60% - #{rem(155)})
  &__inner
    position: relative
    z-index: 5
    padding-top: rem(90)
    padding-bottom: rem(175)
    +md
      padding-top: rem(30)
      padding-bottom: rem(410)
  &__content-top-img
    display: block
    width: rem(50)
    margin-bottom: rem(10)
  &__upttl
    text-transform: uppercase
    font-weight: 400
    font-size: em(14)
    margin-bottom: rem(8)
  &__title
    margin-bottom: rem(10)
  &__text
    max-width: rem(540)
    margin-bottom: rem(15)
    +lg
      max-width: rem(500)
  &__img-bottom
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: rem(125)
    z-index: 2
    background-repeat: repeat-x
    background-size: contain
    background-position: 100% 100%
  &__contacts
    max-width: 225px

  &--sm
    #{$this}__wave
      width: percentage(1285 / 1920)
      +smmin
        background-size: rem(70) 105%
        +before
          width: calc(100% - #{rem(70)})

    #{$this}__inner
      padding-top: rem(55)
      padding-bottom: rem(75)
