.hero
  position: relative
  &__wave
    position: absolute
    z-index: 1
    top: 0
    bottom: 0
    left: 0
    width: percentage(1035 / 1920)
    +image('hero/wave.png')
    background-repeat: no-repeat
    background-position: 50% 100%
    background-size: 105% rem(150)
    +before
      position: absolute
      top: 0
      left: 0
      height: calc(100% - #{rem(150)})
      background-color: #f6f9fa
    +smmin
      +image('hero/wave-desc.png')
      background-position: 100% 50%
      background-size: rem(150) 105%
      +before
        bottom: 0
        right: auto
        height: auto
        width: calc(100% - #{rem(150)})

  &__right-img
    &.lazy--loaded
      // display: block
      margin-left: -15%
  &__bg
    +coverdiv
    +cover
    background-position: 50% 0%
    background-color: $c-text
    z-index: 0
  &__inner
    position: relative
    z-index: 5
    padding-top: rem(90)
    padding-bottom: rem(175)
  &__content-top-img
    display: block
    width: rem(90)
    margin-bottom: rem(10)
  &__upttl
    text-transform: uppercase
    font-weight: 400
    font-size: em(14)
    margin-bottom: rem(8)
  &__title
    margin-bottom: rem(10)
  &__text
    max-width: rem(540)
    margin-bottom: rem(15)
  &__img-bottom
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: rem(125)
    z-index: 2
    background-repeat: repeat-x
    background-size: contain
    background-position: 100% 100%
