.image
  display: inline-block
  font-size: 0
  position: relative
  width: 560px
  height: 100%
  +cover
  img
    position: relative
    z-index: 1
  +before
    +image('section-imgs/bg.png')
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: contain
    position: absolute
    z-index: -1
    bottom: rem(-14)
    right: rem(50)
    width: 100%
    height: 100%
  +after
    +image('section-imgs/mask.png')
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: 100% 100%
    +coverdiv
    z-index: 2
